<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BioDezyne.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="Local.System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ComponentFactory.Krypton.Toolkit" publicKeyToken="A87E673E9ECB6E8E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <BioDezyne.My.MySettings>
   <setting name="ThemeColor" serializeAs="String">
    <value>blue</value>
   </setting>
   <setting name="sy510g" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="docpath" serializeAs="String">
    <value>\documents</value>
   </setting>
   <setting name="questionaire" serializeAs="String">
    <value>questionnaire.pdf</value>
   </setting>
   <setting name="logevent" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ClinicName" serializeAs="String">
    <value />
   </setting>
   <setting name="Slogan" serializeAs="String">
    <value />
   </setting>
   <setting name="Address" serializeAs="String">
    <value />
   </setting>
   <setting name="Phone" serializeAs="String">
    <value />
   </setting>
   <setting name="Fax" serializeAs="String">
    <value />
   </setting>
   <setting name="Web" serializeAs="String">
    <value />
   </setting>
   <setting name="UseDexa" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DexaLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="Beta7" serializeAs="String">
    <value>2008-05-12</value>
   </setting>
   <setting name="Beta8" serializeAs="String">
    <value>2008-06-15</value>
   </setting>
  </BioDezyne.My.MySettings>
 </userSettings>
</configuration>
